link/vimperator/info/default/macros
bin/hello_world
link/templi/templi
link/vimperator/colors/
link_config/feh/feh

# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
/**/*.swp

############
#  Elinks  #
############
/link/elinks/bookmarks
/link/elinks/*hist
/link/elinks/elinks

##########
#  mutt  #
##########
/link/mutt/*gmail
/link/mutt/*de
/link/mutt/mutt

/link/newsbeuter/newsbeuter
/link/vimperator/vimperator
/link_config/luakit/luakit


link/newsbeuter/cache.db
link/newsbeuter/history.cmdline
link/newsbeuter/history.search
link/newsbeuter/queue
wallpapers/2-fractal-wallpaper.jpg
wallpapers/WDF_2490814.jpg
wallpapers/abstract-chemistry.jpeg
wallpapers/abstract_cubes_desktop_1920x1200_hd-wallpaper-620701.jpg
wallpapers/abstract_desktop_1600x1000_hd-wallpaper-538499.jpg
wallpapers/autum_paint_by_tatasz-d9gvmo8.png.jpeg


link_config/dwb/default/cookies
link_config/dwb/dwb
link_config/uzbl/uzbl

#########
#  vim  #
#########

/link/vim/bundle/

link/vim/.netrwhist
link/vim/vim
link/vimperator/info/default/history-command
link/vimperator/info/default/history-search
link/vimperator/info/default/local-marks
wallpapers/feh_016169_000001_gruta

