[submodule "link/jupyter/nbextensions/vim_binding"]
	path = link/jupyter/nbextensions/vim_binding
	url = git://github.com/lambdalisue/jupyter-vim-binding
[submodule "compile/c"]
	path = compile/c
	url = git://github.com/alejandrogallo/c.git
[submodule "link/calcurse"]
	path = link/calcurse
	url = https://gitlab.com/alejandroamsg/calendar.git
[submodule "link/newsbeuter"]
	path = link/newsbeuter
	url = https://gitlab.com/alejandroamsg/newsbeuter.git
[submodule "docs/wallpapers"]
	path = docs/wallpapers
	url = https://gitlab.com/alejandroamsg/wallpapers.git
[submodule "link/vim/bundle/vim-plug"]
	path = link/vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
