link/vim/spell/*spl
link/vim/spell/*sug

link/elinks/bookmarks.*
link/emacs.d/emacs.d



link/vimperator/info/default/ignored-keys

#emacs
elpa
eshell

*swp
no changes added to commit (use "git add" and/or "git commit -a")
temporary.jpg

link/i3/i3
link_config/lilyterm/lilyterm

link/vim/spell/de.utf-8.add.spl
link/vim/spell/de.utf-8.spl
link/vim/spell/fr.utf-8.spl
link/vim/spell/ru.utf-8.spl
link/vim/spell/ru.utf-8.sug

link/vimperator/info/default/macros
bin/hello_world
link/templi/templi
link/vimperator/colors/
link_config/feh/feh

# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
/**/*.swp

############
#  Elinks  #
############
/link/elinks/bookmarks
/link/elinks/*hist
/link/elinks/elinks

##########
#  mutt  #
##########
/link/mutt/*gmail
/link/mutt/*de
/link/mutt/mutt

/link/newsbeuter/newsbeuter
/link/vimperator/vimperator
/link_config/luakit/luakit


link/newsbeuter/cache.db
link/newsbeuter/history.cmdline
link/newsbeuter/history.search
link/newsbeuter/queue
wallpapers/
