snippet while "while loop" b
while ( ${1:true} ) {
	$0
}
endsnippet

snippet randint "Random integer" w
Math.random2f(${1:10}, ${2:20})
endsnippet

snippet sec "Seconds" b
${1:1}::second => now;
endsnippet
