snippet jfor "for loop" b
{% for ${1:whtv} %}
$0
{% endfor %}
endsnippet

snippet jif "if" b
{% if ${1:whtv} %}
$0
{% endif %}
endsnippet

snippet jife "if eles" b
{% if ${1:whtv} %}
$2
{% else %}
$0
{% endif %}
endsnippet

snippet jelse "if eles" b
{% else %}
endsnippet
