snippet html "Html header" b
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: quoted-printable
endsnippet

snippet mfg "Mfg" b
Mit freundlichen Grüßen,
endsnippet

snippet fort "Fortune" b
`fortune | cowsay`
endsnippet

snippet sig-junior "Junior signature" b
`
cat | cowsay -W 50 <<EOF
    Cheers,

Junior Seminar Administration Headquarters
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

$(fortune)
EOF
`
endsnippet
