snippet html "Html header" b
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: quoted-printable
endsnippet

snippet mfg "Mfg" b
Mit freundlichen Grüßen,
endsnippet

snippet fort "Fortune" b
`fortune | cowsay`
endsnippet
