snippet code-lg "Large code block" b
\`\`\`${ 1:"lang" }
${ 2:"code" }
\`\`\`
$0
endsnippet


snippet ita "Italics text" b
*$1*$0
endsnippet

snippet tag "Generic tag" w
<${1:tag}>${2:content}</$1>$0
endsnippet


snippet bold "bold text" b
**$1**$0
endsnippet


snippet hl "Highlight" b
==$1==$0
endsnippet
