snippet code-lg "Large code block" b
\`\`\`${1:"lang"}
${2:"code"}
\`\`\`
$0
endsnippet

snippet travis "Description" b
[![Build Status](https://travis-ci.org/alejandrogallo/${1:repo_name}.svg?branch=master)](https://travis-ci.org/alejandrogallo/$1)
endsnippet


snippet ita "Italics text" b
*$1*$0
endsnippet

snippet tag "Generic tag" w
<${1:tag}>${2:content}</$1>$0
endsnippet


snippet bold "bold text" b
**$1**$0
endsnippet


snippet hl "Highlight" b
==$1==$0
endsnippet
