snippet temp "Template" b
.TH ${1:Title} 1
endsnippet

snippet sec "Section" b
.SH ${1:Title of the section}
endsnippet

snippet bf "bold" b
.B ${1:Whatever}
endsnippet

snippet vimrun "vim run" b
." vim-run: man ./%
endsnippet

snippet n "newline" b
.nf
endsnippet
