snippet $ "Snippet variable" i
$\{${1:n}:${2:Default}\}$0
endsnippet




snippet ros-type "Define a type for rosetta stone" b

# $1
########

snippet ${1:type} "Definition of $1 type" b
${2:int i=42;}
endsnippet$0
snippet t$1 "Definition of $1 type safely" b
${3:int i=42;}
endsnippet$0
snippet c$1 "Definition of constants of $1 type" b
${4:const int i=32;}
endsnippet$0
snippet a$1 "Definition of one dimensional array of $1 type" b
${5:int array[8]=\{1,2,3,4\}}
endsnippet$0
endsnippet
