extends html


snippet bs3-icon:glyphicon "" b
<span class="glyphicon glyphicon-${1:icon}" aria-hidden="true"></span>
endsnippet


snippet bs3-icon "" b
<i class="fa fa-${1:name}${2:-${3:shape}${4:-${5:o}${6:-${7:direction}}}}"></i>
endsnippet


