extends html


snippet bs3-well:lg "" b
<div class="well well-lg">
	${0}
</div>
endsnippet


snippet bs3-well:sm "" b
<div class="well well-sm">
	${0}
</div>
endsnippet


snippet bs3-well "" b
<div class="well">
	${0}
</div>
endsnippet


