snippet ArchLinuxPackages "Common used gitignore for ArchLinuxPackages" b
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
endsnippet
#This was extracted from https://github.com/github/gitignore

