snippet ChefCookbook "Common used gitignore for ChefCookbook" b
.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
endsnippet
#This was extracted from https://github.com/github/gitignore

