snippet CMake "Common used gitignore for CMake" b
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
endsnippet
#This was extracted from https://github.com/github/gitignore

