snippet CodeIgniter "Common used gitignore for CodeIgniter" b
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
endsnippet
#This was extracted from https://github.com/github/gitignore

