snippet CraftCMS "Common used gitignore for CraftCMS" b
# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*
endsnippet
#This was extracted from https://github.com/github/gitignore

