snippet D "Common used gitignore for D" b
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
endsnippet
#This was extracted from https://github.com/github/gitignore

