snippet EPiServer "Common used gitignore for EPiServer" b
######################
## EPiServer Files
######################
*License.config
endsnippet
#This was extracted from https://github.com/github/gitignore

