snippet Erlang "Common used gitignore for Erlang" b
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
endsnippet
#This was extracted from https://github.com/github/gitignore

