snippet Finale "Common used gitignore for Finale" b
*.bak
*.db
*.avi
*.pdf
*.ps
*.mid
*.midi
*.mp3
*.aif
*.wav
# Some versions of Finale have a bug and randomly save extra copies of
# the music source as "<Filename> copy.mus"
*copy.mus
endsnippet
#This was extracted from https://github.com/github/gitignore

