snippet IGORPro "Common used gitignore for IGORPro" b
# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt
endsnippet
#This was extracted from https://github.com/github/gitignore

