snippet Leiningen "Common used gitignore for Leiningen" b
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
endsnippet
#This was extracted from https://github.com/github/gitignore

