snippet Maven "Common used gitignore for Maven" b
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
endsnippet
#This was extracted from https://github.com/github/gitignore

