snippet Mercury "Common used gitignore for Mercury" b
Mercury/
Mercury.modules
*.mh
*.err
*.init
*.dll
*.exe
*.a
*.so
*.dylib
*.beams
*.d
*.c_date
endsnippet
#This was extracted from https://github.com/github/gitignore

