snippet OracleForms "Common used gitignore for OracleForms" b
# Compiled Form Modules
*.fmx

# Compiled Menu Modules
*.mmx

# Compiled Pre-Linked Libraries
*.plx
endsnippet
#This was extracted from https://github.com/github/gitignore

