snippet PlayFramework "Common used gitignore for PlayFramework" b
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
endsnippet
#This was extracted from https://github.com/github/gitignore

