snippet Plone "Common used gitignore for Plone" b
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
endsnippet
#This was extracted from https://github.com/github/gitignore

