snippet RhodesRhomobile "Common used gitignore for RhodesRhomobile" b
rholog-*
sim-*
bin/libs
bin/RhoBundle
bin/tmp
bin/target
bin/*.ap_
*.o
*.jar
endsnippet
#This was extracted from https://github.com/github/gitignore

