snippet Scala "Common used gitignore for Scala" b
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
endsnippet
#This was extracted from https://github.com/github/gitignore

