snippet SCons "Common used gitignore for SCons" b
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite
endsnippet
#This was extracted from https://github.com/github/gitignore

