snippet Scrivener "Common used gitignore for Scrivener" b
/Files/binder.autosave
/Files/binder.backup
/Files/search.indexes
/Files/user.lock
/Files/Docs/docs.checksum
/QuickLook/
/Settings/ui.plist
endsnippet
#This was extracted from https://github.com/github/gitignore

