snippet SymphonyCMS "Common used gitignore for SymphonyCMS" b
manifest/cache/
manifest/logs/
manifest/tmp/
symphony/
workspace/uploads/
install-log.txt
endsnippet
#This was extracted from https://github.com/github/gitignore

