snippet TurboGears2 "Common used gitignore for TurboGears2" b
*.py[co]

# Default development database
devdata.db

# Default data directory
data/*

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
endsnippet
#This was extracted from https://github.com/github/gitignore

