snippet Xojo "Common used gitignore for Xojo" b
# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete
endsnippet
#This was extracted from https://github.com/github/gitignore

