snippet Yii "Common used gitignore for Yii" b
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
endsnippet
#This was extracted from https://github.com/github/gitignore

